@import url(https://fonts.googleapis.com/css?family=Orbitron:400,700|Lobster+Two:400italic);
* {
  box-sizing: border-box; }

a {
  background-color: #ff9033;
  padding: 30px;
  color: white;
  font-family: "Orbitron";
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 8px;
  text-transform: uppercase; }

body {
  align-items: center;
  background-color: #3F5973;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

h1 {
  margin: 0;
  color: white;
  font-family: "Orbitron";
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase; }

h2 {
  margin: 0;
  color: #3F3F3F;
  font-family: "Orbitron";
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase; }

h3 {
  font-family: "Lobster Two", cursive;
  margin: 0;
  padding-bottom: 20px; }

h4 {
  color: #3F3F3F;
  font-family: "Orbitron";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  text-align: center; }

header {
  align-self: stretch;
  align-items: center;
  background-color: #4D6D8C;
  display: flex;
  flex-direction: column;
  padding: 20px; }
  header h3 {
    color: white; }

input {
  color: black;
  font-family: "Orbitron";
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 3px;
  border: none;
  height: 80px;
  width: 150px;
  text-align: center; }

label {
  color: black;
  font-family: "Orbitron";
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  letter-spacing: 3px; }

main {
  align-self: stretch;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 0 10%; }

section {
  align-self: stretch;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center; }

#equation {
  background-color: #DDD24F;
  padding: 5px 0;
  width: 100%; }

.row {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.inputs {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.add-angle {
  position: relative; }
  .add-angle label {
    bottom: 10px;
    left: 10px;
    position: absolute; }

.add-distance {
  position: relative; }
  .add-distance input {
    border-left: 1px #cdcdcd solid; }
  .add-distance label {
    bottom: 10px;
    right: 10px;
    position: absolute; }

.prediction.add-distance {
  margin: 0 auto;
  width: 150px; }
  .prediction.add-distance div {
    display: inline-block;
    position: absolute; }
  .prediction.add-distance input {
    border-left: none; }
  .prediction.add-distance label {
    bottom: 10px;
    left: 10px;
    right: auto;
    position: absolute; }

.light {
  color: white; }

.input {
  align-items: stretch;
  background-color: #D8D8D8;
  flex-direction: row; }

.x-half {
  text-align: center; }

.x-half {
  display: flex;
  flex-basis: 100%;
  justify-content: center; }

.y-half, .x-half.prediction, #back-to-reality {
  flex-direction: column; }

.y-half {
  align-self: stretch;
  flex-grow: 1;
  padding: 20px;
  text-align: center; }

section.graph {
  background-color: #29394A;
  min-height: 200px; }

#ask-isaac {
  background-color: #719bc5; }

#isaac-says {
  background-color: #5f7790; }

#back-to-reality {
  background-color: #8aa8c5;
  padding: 20px; }
  #back-to-reality a {
    width: 300px; }

#prediction-value {
  color: #DDD24F;
  font-size: 30px; }

/*# sourceMappingURL=style.css.map */
